In [1]:
import pandas as pd

In [3]:
netflix = pd.read_csv(r'C:\Users\user\Desktop\mine\NetflixViewingHistory.csv')

In [4]:
netflix.head()

                                               Title     Date
0         Russian Doll: Season 2: Station to Station   5/4/22
1                Russian Doll: Season 2: Brain Drain   5/3/22
2          Russian Doll: Season 2: Coney Island Baby  4/26/22
3                     Russian Doll: Season 2: Nowhen  4/26/22
4  Eternally Confused and Eager for Love: Season ...  4/10/22

In [5]:
netflix.drop_duplicates()

                                                  Title      Date
0            Russian Doll: Season 2: Station to Station    5/4/22
1                   Russian Doll: Season 2: Brain Drain    5/3/22
2             Russian Doll: Season 2: Coney Island Baby   4/26/22
3                        Russian Doll: Season 2: Nowhen   4/26/22
4     Eternally Confused and Eager for Love: Season ...   4/10/22
...                                                 ...       ...
1967                    The OA: Part I: Chapter 4: Away  12/22/16
1968                The OA: Part I: Chapter 3: Champion  12/22/16
1969            The OA: Part I: Chapter 2: New Colossus  12/22/16
1970              The OA: Part I: Chapter 1: Homecoming  12/22/16
1971                                 The Imitation Game  12/21/16

[1972 rows x 2 columns]

In [6]:
netflix.shape[1]

2

In [7]:
netflix.shape[0]

1972

In [14]:
greys = netflix.loc[["Grey's Anatomy" in Title for Title in netflix["Title"]],:]
greys

                                                  Title     Date
406   Grey's Anatomy: Season 15: The Winner Takes It...  2/13/21
407          Grey's Anatomy: Season 15: Help, I'm Alive  2/13/21
590      Grey's Anatomy: Season 16: Put on a Happy Face  5/26/20
594            Grey's Anatomy: Season 16: Sing It Again  5/21/20
595          Grey's Anatomy: Season 16: Love of My Life  5/21/20
...                                                 ...      ...
1306       Grey's Anatomy: Season 1: A Hard Day's Night   4/8/19
1631               Grey's Anatomy: Season 14: All of Me  8/20/18
1632             Grey's Anatomy: Season 14: Cold as Ice  8/20/18
1633     Grey's Anatomy: Season 14: Fight for Your Mind  8/20/18
1634          Grey's Anatomy: Season 14: Bad Reputation  8/20/18

[67 rows x 2 columns]

In [16]:
greys.count()

Title    67
Date     67
dtype: int64